html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7; 
    color: #333;
    box-sizing: border-box;
}


header {
    background: linear-gradient(to right, #0e5b19, #5d8955);
    padding: 20px 0;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
}

.step1,
.introduction {
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
    font-size: 1.5rem;
    color: #4c7744;
    margin-top: 1rem;
    text-align: center;
}

#recipeList,
.baking,
.holidays {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

label:hover {
    color: #4c7744;
}

#viewIngredientsButton {
    display: block;
    width: 100%;
    padding: 3rem;
    font-size: 1.5rem;
    background: #4c7744;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#viewIngredientsButton:hover {
    background: #4c7744;
}

#viewIngredientsButton:active {
    transform: scale(1);
}

#ingredientsList {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; 
    font-size: 1rem;
}

#ingredientsList ul {
    list-style-type: none;
    padding-left: 0;
}

#ingredientsList li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    list-style-type: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#ingredientsList.show {
    display: block;
    animation: fadeIn 1s ease-out;
}

.viewRecipeLink {
    color: #3498db;
    text-decoration: none;
    font-size: 16px; 
    margin-left: 8px; 
}

.viewRecipeLink:hover {
    color: #2980b9;
}

.viewRecipeLink i {
    font-size: 18px; 
    vertical-align: middle; 
}

#copyListButton {
    display: block;            
    width: 50%;                
    padding: 15px;             
    font-size: 1.2rem;       
    background: #4c7744;     
    color: white;           
    border: none;              
    border-radius: 8px;     
    cursor: pointer;       
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;      
    margin-top: 20px;      
    
}

#copyListButton:hover {
    background: #3e6132;   
    transform: translateY(-3px);
}

#copyListContainer {
    display: flex;
    justify-content: center;    
    align-items: center;             
    margin: 1rem;           
}

.alphabet {
    padding: 0.5rem;
    background-color: #0e5b1a60;
    font-weight: 700;
}

.toast-message {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    z-index: 1000;
}

.toast-message.show {
    opacity: 1;
    bottom: 50px;
}

#addItemButton {       
    padding: 12px;      
    margin: 2rem 0 2rem 0;       
    font-size: 0.9rem;      
    width: auto; 
    background: #4c7744;     
    color: white;           
    border: none;              
    border-radius: 8px;     
    cursor: pointer;       
}

.moreItems__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#newItem {
    width: auto;
    margin-right: 0.2rem;
    height: 1.6rem;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #0e5b19;
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.newItem:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(76, 119, 68, 0.6); 
}

#newItem::placeholder {
    color: #999; 
    font-style: italic;
}

.moreItems {
    display: none;
}

/* Stil för ikonen */
.recipe-icon {
    color: #007bff;
    margin-left: 8px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .recipe-icon:hover {
    color: #0056b3;
  }
  
  /* Modal styling */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    border-radius: 8px;
  }
  
  .close-btn {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: red;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.navigation__item {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 2rem 1rem 1rem 1rem;
}

.navigation__item:hover {
    color: #071d00
}

.holidays,
.baking {
    margin-left: auto;
    margin-left: auto;
    width: 60%;
}
